<form id="addPerson" align="left" class="pure-form">
  <fieldset>
    <legend> Add a person! </legend>
    <input type="text" placeholder="Name"name="name" id="name" />
    <input type="text" placeholder="Email" name="email" id="email">

    <button type="submit" id="submitPerson" class="pure-button pure-button-primary">Sign Up</button>
  </fieldset>
</form>

<br />
<br />

<table id="personTable" align="center" class="pure-table-horizontal">
  <tr class="header">
    <th>Name</th>
    <th>Email</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Update</th>
    <th>Delete</th>
    <th>View Site As</th>
  </tr>
  {{#if results}}
    {{#each results}}
      <tr class="row">
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.avgRating}}</td>
        <td>{{this.topClassifier}}</td>
        <td> <a href="/update?id={{this.id}}"><input type="button" value="Update"></a> </td>
        <td> <input type="button" name="delete" value="Delete" onClick="deleteRow({{this.id}})"><input type="hidden" id="d0449210{{this.id}}"></td>
        <td> <a href="/homepage?id={{this.id}}"><input type="button" value="{{this.name}}"></a></td>
      </tr>
    {{/each}}
  {{/if}}

</table>

<script type="text/javascript" language="javascript" src="ft_script.js">
</script>
