<form id="addPerson" align="left">
  <fieldset>
    <h2> Add a person! </h2>

    <label>name</label>
    <br/>
    <input type="text" name="name" id="name" />
    <br/>
    <br/>

    <label>email</label>
    <br/>
    <input type="text" name="email" id="email" />
    <br/>
    <br/>
    <input type="submit" id="submitPerson" />
  </fieldset>
</form>

<br />
<br />

<table id="personTable" align="center">
  <tr class="header">
    <th>Name</th>
    <th>Email</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Update</th>
    <th>Delete</th>
    <th>View Site As</th>
  </tr>
  {{#if results}}
    {{#each results}}
      <tr class="row">
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.avg_rating}}</td>
        <td>{{this.top_classifier}}</td>
        <td> <a href="/update?id={{this.id}}"><input type="button" value="Update"></a> </td>
        <td> <input type="button" name="delete" value="Delete" onClick="deleteRow({{this.id}})"><input type="hidden" id="d0449210{{this.id}}"></td>
        <td> <a href="/homepage?id={{this.id}}"><input type="button" value="{{this.name}}"></a></td>
      </tr>
    {{/each}}
  {{/if}}

</table>
