{{#if results}}
  {{#each results}}
    {{#if this.uName}}
      <h1 id="{{this.uId}}">{{this.uName}}</h1>
      <h2>{{this.uAvg_Rating}}</h2>
      <h2>{{this.uTop_Classifier}}</h2>
      <button onclick="lb('{{this.uId}}')">Show Ranking</button>
    {{/if}}
  {{/each}}
{{/if}}

<form id="giveReview" align="left" class="">
  <fieldset>
    <legend> Give a review! </legend>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <label for="reviewFor">Review For</label>
        <select name="person" id="reviewPerson" class="pure-input-1-2">
          {{#if results}}
            {{#each results}}
              {{#if this.notRevId}}
                <option value="{{this.notRevId}},{{this.totallyUId}}"> {{this.notRevName}}</option>
              {{/if}}
            {{/each}}
          {{/if}}
        </select>
      </div>
    </div>
    <br/>
    <div class="stars">
      <input type="radio" name="star" class="star-1" id="star-1" />
      <label class="star-1" for="star-1">1</label>
      <input type="radio" name="star" class="star-2" id="star-2" />
      <label class="star-2" for="star-2">2</label>
      <input type="radio" name="star" class="star-3" id="star-3" />
      <label class="star-3" for="star-3">3</label>
      <input type="radio" name="star" class="star-4" id="star-4" />
      <label class="star-4" for="star-4">4</label>
      <input type="radio" name="star" class="star-5" id="star-5" />
      <label class="star-5" for="star-5">5</label>
      <span></span>
    </div>
    <br/>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <select name="classifier" id="classifier">
      <optgroup label="Negatives">
        <option value='Rude'>Rude</option>
        <option value="Liar">Liar</option>
        <option value="Cheater">Cheater</option>
        <option value="Selfish">Selfish</option>
        <option value="Know-it-all">Know-it-all</option>
        <option value="Fake">Fake</option>
        <option value="Boring">Boring</option>
      <optgroup label="Positives">
        <option value="Honest">Honest</option>
        <option value='Kind'>Kind</option>
        <option value="Altruistic">Altruistic</option>
        <option value="Humble">Humble</option>
        <option value="Creative">Creative</option>
        <option value="Brave">Brave</option>
        <option value="True to self">True to self</option>
        <option value="Fun">Fun</option>
        <option value="Nuce">Nice</option>
    </select>
      </div>
    </div>
    <br/>
    <input type="submit" id="addToReviews" />
  </fieldset>
</form>


<table name="reviews" id="ReviewsG" align="center" class="pure-table pure-table-horizontal">
  <caption> Reviews you've given </caption>
  <tr class="header">
    <th>Name</th>
    <th>Star Rating</th>
    <th>Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      {{#if this.givenStarRating}}
        <tr class="row">
          <td>{{this.givenName}}</td>
          <td>{{this.givenStarRating}}</td>
          <td>{{this.givenClassifierTerm}}</td>
          <td> <input type="button" name="delete" value="Delete" onClick="deleteRevRow("{{this.givenBelongsToId}},{{this.givenGivenById}} "")"><input type="hidden" id="{{this.givenBelongsToId}}_{{this.givenGivenById}}"></td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>

<table name="reviews" id="ReviewsB" align="center" class="pure-table pure-table-horizontal">
  <caption> Reviews you've received </caption>
  <tr class="header">
    <th>Given By</th>
    <th>Star Rating</th>
    <th>Classifer</th>
  </tr>
  {{#if results}}
    {{#each results}}
      {{#if this.belongsStarRating}}
        <tr class="row">
          <td>{{this.belongsName}}</td>
          <td>{{this.belongsStarRating}}</td>
          <td>{{this.belongsClassifierTerm}}</td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>


<form id="addToCompany" align="left">
  <fieldset>
    <h2> Add someone to your company! </h2>
    <br/>
    <label>Which company do you want to add them to?</label>
    <br/>
    <select name="company" id="addCompany" class="pure-input-1-2">
      {{#if results}}
        {{#each results}}
          {{#if this.coId}}
          <option value={{this.coId}}> {{this.coName}}</option>
          {{/if}}
        {{/each}}
      {{/if}}
    </select>
    <br />
    <label>Who do you want to add?</label>
    <br/>
    <select name="person" id="addPerson" class="pure-input-1-2">
    {{#if results}}
      {{#each results}}
        {{#if this.notUId}}
        <option value={{this.notUId}}> {{this.notUName}}</option>
        {{/if}}
      {{/each}}
    {{/if}}
    </select>
    <input type="submit" id="addPersonToCompany" />
  </fieldset>
</form>



<table name="friends" id="Friends" align="center">
  <caption> Friends </caption>
  <tr class="header">
    <th>Name</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      {{#if this.frName}}
        <tr class="row">
          <td>{{this.frName}}</td>
          <td>{{this.frRating}}</td>
          <td>{{this.frTerm}}</td>
          <td> <input type="button" name="delete" value="Delete" onClick="deleteCoRow({{this.frPerId}}, {{this.frCoId}}, 'Friends')"><input type="hidden" id="{{this.frPerId}}"></td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>




<table name="family" id="Family" align="center" class="pure-table pure-table-horizontal">
  <caption> Family </caption>
  <tr class="header">
    <th>Name</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      {{#if this.faName}}
        <tr class="row">
          <td>{{this.faName}}</td>
          <td>{{this.faRating}}</td>
          <td>{{this.faTerm}}</td>
          <td> <input type="button" name="delete" value="Delete" onClick="deleteCoRow({{this.faPerId}}, {{this.faCoId}}, 'Family')"><input type="hidden" id="{{this.faPerId}}"></td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>


<table name="work" id="Work" align="center" class="pure-table pure-table-horizontal">
  <caption> Work </caption>
  <tr class="header">
    <th>Name</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      {{#if this.wName}}
        <tr class="row">
          <td>{{this.wName}}</td>
          <td>{{this.wRating}}</td>
          <td>{{this.wTerm}}</td>
          <td> <input type="button" name="delete" value="Delete" onClick="deleteCoRow({{this.wPerId}}, {{this.wCoId}}, 'Work')"><input type="hidden" id="{{this.wPerId}}"></td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>




<script type="text/javascript" language="javascript" src="hp_script.js">
</script>
