<form id="giveReview" align="left">
  <fieldset>
    <h2> Give a review! </h2>

    <label>Who is this review for?</label>
    <br/>
    <input type="text" name="name" id="name" />
    <br/>
    <br/>
    <select>
      <optgroup label="Swedish Cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
      </optgroup>
      <optgroup label="German Cars">
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </optgroup>
    </select>

    <label>email</label>
    <br/>
    <input type="text" name="email" id="email" />
    <br/>
    <br/>

    <input type="radio" name="lbs" id="lbs" value="true" />lbs</label>
    <input type="radio" name="lbs" id="kg" value="false" />kg</label>
    <input type="submit" id="reviewPerson" />
  </fieldset>
</form>

<form id="addToCompany" align="left">
  <fieldset>
    <h2> Add someone to your company! </h2>
    <br/>
    <label>Which company do you want to add them to?</label>
    <br/>
    <select name="company" id="addCompany">
      {{#if results}}
        {{#each results}}
          {{#if this.co_id}}
          <option value={{this.co_id}}> {{this.co_name}}</option>
          {{/if}}
        {{/each}}
      {{/if}}
    </select>
    <br />
    <label>Who do you want to add?</label>
    <br/>
    <select name="person" id="addPerson">
    {{#if results}}
      {{#each results}}
        {{#if this.notu_id}}
        <option value={{this.notu_id}}> {{this.notu_name}}</option>
        {{/if}}
      {{/each}}
    {{/if}}
    </select>
    <input type="submit" id="addPersonToCompany" />
  </fieldset>
</form>



<table name="friends" align="center">
  <caption> Friends </caption>
  <tr class="header">
    <th>Name</th>
    <th>Email</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      <tr class="row">
        <td>{{this.fr_name}}</td>
        <td>{{this.fr_email}}</td>
        <td>{{this.fr_rating}}</td>
        <td>{{this.fr_classifier}}</td>
        <td> <input type="button" name="delete" value="Delete" onClick="deleteRow({{this.id}})"><input type="hidden" id="d0449210{{this.id}}"></td>
      </tr>
    {{/each}}
  {{/if}}
</table>




<table name="family" align="center">
  <caption> Family </caption>
  <tr class="header">
    <th>Name</th>
    <th>Email</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      <tr class="row">
        <td>{{this.fa_name}}</td>
        <td>{{this.fa_email}}</td>
        <td>{{this.fa_rating}}</td>
        <td>{{this.fa_classifier}}</td>
        <td> <input type="button" name="delete" value="Delete" onClick="deleteRow({{this.id}})"><input type="hidden" id="d0449210{{this.id}}"></td>
      </tr>
    {{/each}}
  {{/if}}
</table>


<table name="work" align="center">
  <caption> Work </caption>
  <tr class="header">
    <th>Name</th>
    <th>Email</th>
    <th>Star Rating</th>
    <th>Top Classifer</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      <tr class="row">
        <td>{{this.w_name}}</td>
        <td>{{this.w_email}}</td>
        <td>{{this.w_rating}}</td>
        <td>{{this.w_term}}</td>
        <td> <input type="button" name="delete" value="Delete" onClick="deleteRow({{this.id}})"><input type="hidden" id="d0449210{{this.id}}"></td>
      </tr>
    {{/each}}
  {{/if}}
</table>

<script type="text/javascript" language="javascript" src="hp_script.js">
</script>
